@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables
    --l for light mode
    --d for dark mode
*/
:root {
    --l-bg: white;
    --l-text: #212121;
    --l-subtitle: #7CC1F2;
    --l-title: #212121;

    --l-primary-accent: #D3E1EA;
    --l-secondary-accent: white;

    --l-yellow: #FFC200;
    --l-maroon: #840032;
    --l-dark-blue: #002642;
    --l-medium-blue: #134E78;
    --l-dark-grey: #212121;
    --l-medium-grey: #808080;


    --dark-bg: black;
    --d-text: white;
    --d-subtitle: #FFC200;
    --d-title: white;

    --d-primary-accent: #134E78;
    --d-secondary-accent: white;

    --d-yellow: #FFC200;
    --d-maroon: #840032;
    --d-dark-blue: #134E78;
    --d-light-blue: #C4E7FF;

}

/* Default element styling */
h1 {
    font-weight: bolder;
}

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}

/* Custom class styling*/
.logo {
    max-width: 7rem;
}
.icon{
    max-width: 1.6em;
    vertical-align: top;
}
.icon-link{
    color: var(--l-text);
}
.icon-link:hover{
    color: var(--l-medium-blue);
}


/*Sidemenu styling*/

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar {
  overflow-y: auto;
  background-color: var(--l-bg);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 2rem 2.4rem 4rem 2.4rem;
  width: 260px;
}


/* global article component styling */
.article-link{
    text-decoration: none;
    color: var(--l-text)
}

.article-cover {
    max-width: 100%; height: auto;
}

/* .article-cover {
    width: 100%;
    min-width: 12rem;
}

.article-metadata{
    color: var(--l-dark-blue);
    font-weight: 600;
  
}

.article-card{
    max-width: 16rem;
} */

/*miscellaneous styling*/
.margin-bottom{
    margin-bottom: 1.6rem;

}

/*media queries*/
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .display-on-large{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .display-on-large{
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .display-on-large{
        display: flex;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .display-on-large{
        display: flex;
    }
}